global
    log stdout format raw local0

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  100000
	errorfile 400 /usr/local/etc/haproxy/errors/400.http
	errorfile 403 /usr/local/etc/haproxy/errors/403.http
	errorfile 408 /usr/local/etc/haproxy/errors/408.http
	errorfile 500 /usr/local/etc/haproxy/errors/500.http
	errorfile 502 /usr/local/etc/haproxy/errors/502.http
	errorfile 503 /usr/local/etc/haproxy/errors/503.http
	errorfile 504 /usr/local/etc/haproxy/errors/504.http

frontend http
    bind *:80
    bind *:443 ssl crt /ssl.pem

    mode    http
    
    acl is_coinqvest path_beg /en/checkout || path_beg /css || path_beg /js || path_beg /images || path_beg /socket.io || path_beg /fav || path_beg /ajax/submissionEndpoint.ajax.php
    use_backend coinqvest if is_coinqvest

backend coinqvest
    http-request add-header x-cq-checkout-proxy-key CQKEY
    http-request replace-header Host .* www.coinqvest.com
    http-request replace-header Origin .* www.coinqvest.com
    server server1 135.181.179.165:443 weight 1 maxconn 128 check ssl verify none 

